# Tuist-generated artifacts
*.xcodeproj/
*.xcworkspace/
.tuist/
Derived/
graph.dot
graph.png

# Xcode user state
xcuserdata/
*.hmap
DerivedData/

# SwiftPM build cache (under Tuist/)
.build/
.swiftpm/

# Generated Info.plist
**/Info.plist

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
.dsyms/

# macOS
.DS_Store

# Editors
.vscode/
.idea/
.nvim/
.cursor/
